* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Commit Mono", monospace, sans-serif;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html {
	background: #121113;
	color: #ffffff;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 1.5rem;
	min-height: 100vh;
	max-width: 700px;
	margin: auto;
}

.header {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-decoration: none;
	margin-top: 2rem;
}

#snippetForm {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
}

#snippetForm input {
	background: #121113;
	color: #ffffff;
	border: 1px solid white;
	padding: 4px;
}

.links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 12px;
}

.about {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 14px;
}

textarea {
	background: #121113;
	color: #ffffff;
	width: 100%;
	min-height: 400px;
	padding: 6px;
	border: 1px solid white;
}

button {
	background: #121113;
	color: #ffffff;
	padding: 6px;
	border: 1px solid white;
	cursor: pointer;
	width: fit-content;
}

a {
	background: #121113;
	color: #ffffff;
}

@media (max-width: 480px) {
	body {
		padding: 1rem;
		gap: 1rem;
	}
}

@font-face {
	font-family: "Commit Mono";
	src: url("/assets/fonts/CommitMono-400-Regular.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Commit Mono";
	src: url("/assets/fonts/CommitMono-700-Regular.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
