<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <meta name="theme-color" content="#121113" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <title>Sipp | About</title>
    <meta name="description" content="Minimal Code Sharing">

    <meta property="og:url" content="https://sipp.so">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sipp | About">
    <meta property="og:description" content="Minimal Code Sharing">
    <meta property="og:image" content="https://sipp.so/assets/og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="sipp.so">
    <meta property="twitter:url" content="https://sipp.so">
    <meta name="twitter:title" content="Sipp | About">
    <meta name="twitter:description" content="Minimal Code Sharing">
    <meta name="twitter:image" content="https://sipp.so/assets/og.png">

  </head>
  <body>
    <a href="/" class="header">
      <h1>SIPP</h1>
    </a>
    <div class="links">
      <a href="/">Go Back</a>
      <a target="_blank" href="https://github.com/stevedylandev/sipp">
        GitHub
      </a>
      <p>by <a target="_blank" href="https://stevedylan.dev">Steve</a></p>
    </div>

    <div class="about">
      <p>A while back I released an app called Snippets. While it had lots of polish and the stuff influencers say you need to have, it was also bloated, slow, and had too much vendor lock-in. This app is the antitode that takes a different approach. There is no Next.js, shadcn/ui components, or even syntax highlighting. It's just text sharing, all powered by Bun and no other dependencies. From the ground up it's designed to be self hosted and used on your own hardware or VPS so you have control of the data. I've also designed this with longevity in mind by using just html css and js. You can edit any part you like, update it, and know that you can always come back and fix something.</p>

      <p>The web needs more simplicity, and the ability to build our own tools and solutions that can be picked up and used 5 or 10 years from now. Put down the framework, build simply, and make it open source.</p>
    </div>
  </body>
</html>
