<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#121113" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <title>Sipp</title>
    <meta name="description" content="Minimal Code Sharing">

    <meta property="og:url" content="https://sipp.so">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sipps">
    <meta property="og:description" content="Minimal Code Sharing">
    <meta property="og:image" content="https://sipp.so/assets/og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="sipp.so">
    <meta property="twitter:url" content="https://sipp.so">
    <meta name="twitter:title" content="Sipps">
    <meta name="twitter:description" content="Minimal Code Sharing">
    <meta name="twitter:image" content="https://sipp.so/assets/og.png">
  </head>
  <body>
    <a href="/" class="header">
      <h1>SIPP</h1>
    </a>

    <div class="links">
      <a target="_blank" href="https://github.com/stevedylandev/sipp">
        GitHub
      </a>
      <a href="/about">About</a>
      <p>by <a target="_blank" href="https://stevedylan.dev">Steve</a></p>
    </div>

    <form id="snippetForm" method="POST" action="/snippets">
      <div>
        <input placeholder="index.ts" type="text" id="name" name="name" required>
      </div>

      <div>
        <textarea placeholder="// paste your code here" id="content" name="content" required></textarea>
      </div>

      <button type="submit">Create Snippet</button>
    </form>

    <script>
      document.getElementById('content').addEventListener('keydown', (e) => {
        if (e.metaKey && e.key === 'Enter' || e.ctrlKey && e.key === 'Enter') {
          e.preventDefault();
          document.getElementById('snippetForm').requestSubmit();
        }
      });
    </script>
  </body>
</html>
